<div class="container">
  <div class="row">
    <div class="col-md-12">

    <table class="table">
      <col width="120">
      withdrawls:
    <%@user.withdrawls.each do |withdrawl|%>
      <tr>
        <th> <%=withdrawl.amount%></th>
        <th><%=withdrawl.created_at%></th>
      </tr>
      <%end%>
    </col>
    </tabl>
    </div>
  <div/>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <col width="120">
    deposit:
      <%@user.deposits.each do |deposit|%>
      <tr>
        <th><%=deposit.amount%></th>
        <th><%=deposit.created_at%></th>
      </tr>
        <%end%>
      </col>
    </table>
  </div>
</div>
